.preview-image {
    max-width: 20%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}

.platillo-form {
    scroll-margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 80%;
    margin: 0 auto;
    background: #383838;
    padding: 20px;
    border-radius: 10px;
}

.platillo-form input {
    width: 100%;
    padding: 0.6rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .platillo-form input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

.titulo {
    text-align: center;
}

.boton-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.boton-agregar {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.boton-agregar:hover {
    background-color: #0056b3;
}

.platillos-lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 80%;
    margin: 0 auto;
    background: #383838;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.platillos-lista ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.platillos-lista li {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #383838;
}

.platillos-lista li h3 {
    margin: 0;
    font-size: 1.5em;
}

.platillos-lista li p {
    margin: 5px 0;
}

.platillos-lista li .descripcion {
    word-wrap: break-word; /* Permite que el texto largo se ajuste dentro del contenedor */
    overflow-wrap: break-word; /* Asegura que las palabras largas no se salgan */
    white-space: pre-wrap; /* Permite el salto de línea automático */
    max-height: 150px; /* Limita la altura máxima de la descripción */
    overflow-y: auto; /* Agrega desplazamiento si el contenido excede la altura */
    font-size: 0.9em; /* Reduce el tamaño de la fuente para la descripción */
}

.platillos-lista li .descripcion p {
    margin: 5px 0;
}

.boton-desactivar {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.boton-desactivar:hover {
    background-color: #d43636;
}

.boton-editar {
    background-color: #ffc107;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}