.preview-image {
    max-width: 20%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}
.platillo-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 80%;
    margin: 0 auto;
    background: #383838;
    padding: 20px;
    border-radius: 10px;
}
.titulo{
    text-align: center;
}
.boton-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.boton-agregar {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.boton-agregar:hover {
    background-color: #0056b3;
}